// Make sure settings.dtsi is included before this file

#define HM_TAPPING_TERM 200
#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE 150

#include "zmk-helpers/key-labels/42.h"
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5
#define KEYS_T LH2 LH1 LH0 RH0 RH1 RH2

/ {

    behaviors {

        // Positional Homerow mods
        // balanced flavor = requires hold or opposite hand key press for mod
        // quick-tap-ms = allows double-tap to repeat the base key quickly
        // require-prior-idle-ms = prevents accidental mods during fast typing
        // hold-trigger-key-positions = only triggers hold with opposite hand
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>,  <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            hold-trigger-key-positions = <KEYS_L KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        // Positional Homerow mods for shift
        // balanced flavor for better nested key handling
        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            hold-trigger-key-positions = <KEYS_L KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };
    };
};
